NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_SUPABASE_URL=https://fkadmdvvewmlcvxrjvfk.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZrYWRtZHZ2ZXdtbGN2eHJqdmZrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTE1MzA3NDYsImV4cCI6MjEwNzEwNjc0Nn0.6BZW6tSHqHKHJEd9RsEfPhzcoVi9rcR38f7caeSZm5c
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZrYWRtZHZ2ZXdtbGN2eHJqdmZrIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc5MTUzMDc0NiwiZXhwIjoyMTA3MTA2NzQ2fQ.B_8N-f-zfwzE57y8evEArougNFeX3slmOKr-mtIE3kA
SHARE_EXPIRES_DAYS=30
